main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

hr {
    width: 900px;
    height: 2px;
    background-color: black;
    border-width:0;
}

.post {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-stretch: expanded;
}

.post-title {
    width: 720px;
    color: #333;
    font-size: xx-large;
    margin-bottom: 0;
}

.post-date {
    width: 720px;
    color: #777;
    font-size: 0.8em;
    text-align: right;
    margin-top: 1rem;
}

.image {
    width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
}

.paragraph {
    width: 720px;
    color: #444;
    font-size: larger;
    text-align: justify;
    margin-bottom: 1rem;
}

.paragraph-with-image {
    width: 720px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.paragraph-with-image .text {
    color: #444;
    font-size: larger;
    text-align: justify;
    padding-top: 1rem;
}

.paragraph-with-image .image {
    width: 288px;
    height: auto;
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}